<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Wreckfest 2</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Wreckfest 2: News & Community</a></h1>
            <nav>
                <a href="/">Главная</a>
                </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {{ content | safe }}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 wreckfest2.github.io - Вся информация о Wreckfest 2</p>
        </div>
    </footer>
</body>
</html>